body {
  font-family: "Lato", sans-serif;
}
.error{
  color: #FF0000;
}
/* Planet Customization */ 
#container{
  background:url(../img/Background.jpg);
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*    Backgrounds for the Planets   */                                       
.Background{
	position:absolute;
	right:45%;
	top:10%;
}

/*    Backgrounds for the Planets   */   
.Header{
  position: absolute;
  color:#bf280d;
  font-size: 3em;
  font-style: normal;
  font-weight: 400;
  right: 13.5%;
  top:4%;
}


.Title{
  color: #f58470;
  font-size: 2.5em;
  font-style: normal;
  font-weight: 400;
  text-align:center;  
}

.Content{
  font-size: 1.2em;
  color:#F7F3E8;  
  font-style: normal;
  font-weight: 300;
  opacity: 1;
  transition: opacity .10s ease-in-out;
  -moz-transition: opacity .10s ease-in-out;
  -webkit-transition: opacity .10s ease-in-out;
}
.TextOuterDiv {
  position:absolute;
  background-color:black;
  height: 40%;
  width: 40%;
  top: 10%;
  right: 6%;
  overflow:hidden;
  text-align:justify;
  background-color:transparent;
  padding: 1%;
  padding-top:0%;
  padding-left:0%;
  padding-right:0%;
}
.TextOuterDiv .TextInnerDiv {
  height:100%;
  overflow:auto;
  margin:15px -300px 15px 15px;
  padding-right:300px;
}
.VideoInner{
  position:absolute;
  background-color:black;
  top: 55%;
  right: 5.5%;
  background-color:transparent;
  height:40%;
  width:40%;  
}
.planet{
  display: none;
  background:url(../img/dimmer.png);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.content{
  height: 100%;
  width: 85%;
  position: fixed;
  left: 45%;
}
.planetText{
  margin:auto;
  width: 60%;
  font-size:1.1em;
}
.planetImage{
  margin:auto;
  width: 60%;
}
/* Side Navigator Customization*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.planetButton{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.5em;
  color: #818181;
  display: block;
  transition: 0.3s;
  background:none;
  border:none;
  margin:0;
  outline:0;
  cursor:pointer;
}
.planetButton:active{
  color:white;
}
.planetButton:focus{
  color:white;
}
.sidenav .closebtn{
  position: absolute;
  top: 5px;
  right: 25px;
  font-size:2.6em;
  color: #818181;
  margin-left: 50px;
  background:none;
  border:none;
  padding:0;
  outline:0;
  cursor:pointer;
}
.closebtn:hover {
  color:white;
}
/* Main Customization*/
#main {
  transition: margin-left 0.5s;
  padding: 16px;
  color: white;
}
#newsletterForm {
  margin: auto;
  padding-top: 10%;
  width: 80%;
  color: #e6e6e6;
  text-align: center;
}
#newsletterForm form {
  margin: auto;
  width: 100%;
}
.formInput{
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0 8px;
  background-color: #595959;
  color: white;
  box-sizing: border-box;
  border: 2px solid #808080;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.formInput:focus {
  border: 2px solid #333333;
}
