body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}
/* Planet Customization */ 
#container{
    background:url(../img/background.jpg);
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#todo{
    background:url(../img/dim.png);
    height: 100%;
}
.planet{
    display: none;
    background:url(../img/dimmer.png);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
/**
#mercuryContainer{
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#myVenus{
    display: none;
    background:url(../img/dim.png);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#myEarth{
    display: none;
    background:url(../img/dim.png);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#myMars{
    display: none;
    background:url(../img/dim.png);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#myJupiter{
    display: none;
    background:url(../img/dim.png);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#mySaturn{
    display: none;
    background:url(../img/dim.png);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#myUranus{
    display: none;
    background:url(../img/dim.png);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#myNeptune{
    display: none;
    background:url(../img/dim.png);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}**/
.content{
    height: 100%;
    width: 85%;
    position: fixed;
    left: 45%;
}
.planetText{
    margin:auto;
    width: 60%;
}
.planetImage{
    margin:auto;
    width: 60%;
}
/* Side Navigator Customization*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* Main Customization*/
#main {
    transition: margin-left .5s;
    padding: 16px;
    color: white;
    font-weight: 900;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}